<div class="container">
  <div class="filter-container">
    <div class="form-group">
      <label for="name"> Наименование: </label>
      <input
        #nameInput="ngModel"
        type="text"
        class="form-control"
        [(ngModel)]="schoolDto.name"
        id="name"
      />
    </div>
    <div class="form-group">
      <label for="type"> Тип: </label>
      <select
        #typeInput="ngModel"
        name="type"
        [(ngModel)]="schoolDto.type"
        id="type"
        class="form-control"
      >
        <option value="State">Държавно</option>
        <option value="Municipal">Общинско</option>
        <option value="Private">Частно</option>
      </select>
    </div>
    <div class="form-group">
      <label for="settlement"> Населено място: </label>
      <input
        #settlementInput="ngModel"
        type="text"
        class="form-control"
        [(ngModel)]="schoolDto.settlement"
        id="settlement"
      />
    </div>

    <button
      class="btn btn-primary"
      type="button"
      (click)="getFiltered(schoolDto)"
    >
      Търсене
    </button>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Наименование</th>
        <th scope="col">Тип</th>
        <th scope="col">Населено място</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let school of schools">
        <td>{{ school.name }}</td>
        <td>{{ schoolTypeEnumLocalization[school.type] }}</td>
        <td>{{ school.settlement }}</td>
      </tr>
    </tbody>
  </table>
</div>
